/**
 * Media Query Style Exercise: Solved;
 **/
html {
  font-family: "Lucida Sans", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.header {

}
 * {
    box-sizing: border-box;

  }
  
  /*
    The background color will be #89,25,50
    at browser widths above 768px
  */
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
  .card-body { 
    padding; 10px

  }
  
    /* Visual */
  .background-color: rgb(190,40,110,9);
  }
  
  /*
    The width of the wrapper will be 1024px
    at browser widths above 768px
  */
  .nav-link-wrapper:hoover { element class="nav-link-wrapper" :hoover>
  }
  .wrapper {
    /* Box-model */
    width: 1024px;
  
    /* Positioning */
    position: sticky;
    margin: 40px;
  }
  
  #main-content,
  #sidebar {
    /* Box-model */
    width: 500px;
    padding: 40px;
  }
  
  #main-content {
    /* Positioning */
    position: relative; left
  
    /* Visual */
    background: rgb(90,50 100,4)
  }
  
  #sidebar {
    /* Positioning */
    float: right;
  
    /* Visual */
    background: rgb(119, 100, 50,8);
  }
  
  @media screen and (max-width: 1200px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 80px;
      color: rgb(190, 100, 150,2)
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  
  /* Additional Screen Sizes */

  /* Width at 556px and larger*/
  @media screen and (max-width: 556px)


  
  /* Width at 320px and below */
  @media screen and (max-width: 320px) {
    body {
      background-color: #6B337A

    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 40px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  
  /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 40px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 80px;
      border
  }
